:root{
    --galben: rgb(241, 185, 111);
    --negru: #1f1e1e;
    --gri: #272727;

    --bgcolor: rgb(20, 20, 20);
}



/*Scrollbar-ul din dreapta paginii*/
::-webkit-scrollbar{
    background-color: var(--negru);
    width: 14px;
}
::-webkit-scrollbar-thumb{
    border: 3px solid var(--negru);
    border-radius: 50px;
    background-color: var(--galben);
}



body{
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 92vh;
    overflow-y: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.Container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--bgcolor);
    
    width: 100%;
    height: 100%;
    margin-top: 70px;
    place-items: center center;
}



.GalleryIMG{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    border-radius: 40px;
    animation: fade 2s;
}
@keyframes fade {
    0% {opacity: 0;}
    100% { opacity: 0.9; }
  }

.GalleryIMG:hover{
    opacity: 1;
}




#img1{
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
    margin-left: 20px;
    margin-top: 20px;
}

#img2{
    grid-column: 5/span 2;
    grid-row: 1/ span 2;
    margin-right: 20px;
    margin-top: 20px;
}

#img3{
    grid-column: 1/span 2;
    grid-row: 4/ span 2;
    margin-left: 20px;
    margin-bottom: 20px;
}

#img4{
    grid-column: 5/span 2;
    grid-row: 4/ span 2;
    margin-right: 20px;
    margin-bottom: 20px;
}


.StartShopping{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    grid-column: 3/span 2;
    grid-row: 1/span 2;
    
    background-image: url(../../images/Home/StartShopBG.png);
    
    width: 240px;
    height: 240px;
    border-radius: 50%;

    transition: 0.1s linear;
}

.StartShopping img{
    height: 100px;
    width: 200px;
}
.StartShopping:active{
    transform: scale(0.9);
}

.StartShopping:hover{
    animation: spin 1s;
}
@keyframes spin {
    33% { transform: rotate(-15deg);}
    66% { transform: rotate(15deg);}
}



.MottoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/ span 4;
    grid-row: 3/ span 1;
    padding: 20px;
}
.MottoDiv:hover{
    animation: pulse 1.5s linear infinite;
}
@keyframes pulse {
    50% { transform: scale(1.07);}
    95% { transform: scale(1);}
}
.MottoIMG{
    width: 100%;
    height: 100%;
}


.WhatWeSell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: rgb(241, 191, 26);
    
    background-image: url(../../images/Home/ListBG.png);
    background-size: cover;

    grid-column: 3/ span 2;
    grid-row: 4/ span 2;
    background-color: var(--gri);
    border-radius: 30px;
    width: 75%;
    height: 75%;
}
.WhatWeSell:hover{
    animation: UpDown 0.4s linear;
}
@keyframes UpDown {
    50%{ transform: translate(0px, -7px);}
    100%{ transform: translate(0px, 0px);}
}



h2{
    cursor: default;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: default;
}
li:not(:last-child){
    margin-bottom: 5px;
}
li::before {
    content: "→ ";
}
li::after {
    content: " ←";
}


@media (max-width: 1040px) {
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    body{
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    #img1, #img2, #img3, #img4{
        margin: 0;
        width: 80%;
        max-width: 550px;
        height: 300px;
    }

    #img1{
        order: 6;
    }
    #img2{
        order: 2;
    }
    #img3{
        display: none;
    }
    #img4{
        order: 4;
    }
    .StartShopping{
        background: none;
        order: 4;
    }
    .StartShopping:hover{
        animation: none;
    }
    .WhatWeSell{
        background: none;
        order: 3;
        width: 60%;
    }
    .WhatWeSell:hover{
        animation: none;
    }
    .MottoDiv{
        order: 1;
    }
}

@media (max-width: 700px) {
    #img1, #img2, #img3, #img4{
        height: 250px;
        border-radius: 20px;
    }
}
@media (max-width: 520px) {
    #img1, #img2, #img3, #img4{
        height: 210px;
    }
}
@media (max-width: 400px) {
    #img1, #img2, #img3, #img4{
        height: 180px;
        border-radius: 15px;
    }
    .MobileDropdownContent{
        font-size: 20px;
    }
}

@media (max-height: 850px){
    .GalleryIMG{
        width: 90%;
        height: 90%;
    }
    .StartShopping{
        width: 200px;
        height: 200px;
    }
    ul{
        font-size: 17px;
    }
    h2{
        font-size: 18px;
    }
    .StartShopping img{
        height: 90px;
        width: 180px;
    }
    .WhatWeSell{
        width: 65%;
        height: 65%;
    }
    .MottoIMG{
        width: 90%;
        height: 90%;
    }
}

@media (max-height: 670px){
    .WhatWeSell{
        background: none;
    }
}

@media (max-height: 580px){
    .NavBar {
        display: none;
      }
    .MobileNavBar {
        display: flex;
    }
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    body{
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    #img1, #img2, #img3, #img4{
        margin: 0;
        width: 80%;
        max-width: 550px;
        height: 300px;
    }

    #img1{
        order: 6;
    }
    #img2{
        order: 2;
    }
    #img3{
        display: none;
    }
    #img4{
        order: 4;
    }
    .StartShopping{
        background: none;
        order: 4;
    }
    .StartShopping:hover{
        animation: none;
    }
    .WhatWeSell{
        background: none;
        order: 3;
        width: 60%;
    }
    .WhatWeSell:hover{
        animation: none;
    }
    .MottoDiv{
        order: 1;
    }
}
