:root{
    --galben: rgb(241, 200, 111);
    --negru: #1f1e1e;
    --gri: #272727;

    --bgcolor: rgb(20, 20, 20);
}

body{
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}



/*Scrollbar-ul din dreapta paginii*/
::-webkit-scrollbar{
    background-color: var(--negru);
    width: 14px;
}
::-webkit-scrollbar-thumb{
    border: 3px solid var(--negru);
    border-radius: 50px;
    background-color: var(--galben);
}



.MainContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1{
    cursor: default;
    margin-top: 100px;
    text-align: center;
    color: var(--galben);
}

.SubContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}


.UnavailableMessage{
    color: var(--galben);
    cursor: default;
    font-size: 25px;
}


.Keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-color: var(--galben);
    border-radius: 20px;
    padding: 10px;
    gap: 15px;

    width: 500px;
    height: 550px;
}
.KeyboardIMG{
    width: 100%;
    height: 36%;
}

.Mouse{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    border-radius: 20px;
    background-color: var(--galben);
    padding: 10px;
    gap: 15px;

    width: 350px;
    height: 680px;
}
.MouseIMG{
    width: 66%;
    height: 59%;
}
.Headset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    border-radius: 20px;
    background-color: var(--galben);
    padding: 10px;
    gap: 15px;

    width: 420px;
    height: 680px;
}
.HeadsetIMG{
    width: 95%;
    height: 59%;
}


.Name{
    cursor: default;
    font-size: 20px;
    font-weight: bold;
}


table{
    color: rgb(223, 203, 117);
    background-color: black;
    cursor: default;
}
td, th{
    width: 50%;
    padding: 3px 7px 3px 7px;
}
th:hover, td:hover{
    background-color: #1a1a1a;
}
tr:nth-child(2n+1){
    background-color:rgb(36, 36, 36);;
}
tr:nth-child(2n){
    background-color:rgb(71, 71, 71)
}


.Price{
    cursor: default;
    font-weight:bold;
    letter-spacing: -2px;
    font-size: 23px;
}


.Buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Buttons button:nth-child(1){
    margin-left: 20px;
}
.Buttons button:nth-child(2){
    margin-right: 20px;
}

button{
    cursor: pointer;
    background-color: var(--negru);
    color: var(--galben);
    border: none;
    border-radius: 3px;

    padding: 10px;
    width: 150px;

    font-size: 17px;
    font-weight: bold;

    box-shadow: 3px 4px 2px rgb(68, 66, 66);
}

button:active{
    transform: translate(3px, 4px);
    box-shadow: none;
}





.helpButton{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 15px;
    bottom: 15px;

    font-size: 20px;
    font-family: bold sans;

    background-color: var(--galben);
    border: 2px solid red;
    box-shadow:  0px 0px 10px 3px red, inset 0px 0px 10px 1px red;
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;

    animation: fade 1s;
} 

.helpBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    right: 15px;
    bottom: 15px;

    background-color: var(--galben);
    border: 2px solid red;
    box-shadow:  0px 0px 10px 3px red, inset 0px 0px 10px 1px red;

    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    animation: fade 1s;
}

.userMessage{
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    resize: none;
    width: 285px;
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@keyframes fade {
    0% {opacity: 0;}
    100% { opacity: 1; }
}



@media (max-width: 560px) {
    .Keyboard{
        width: 400px;
        height: 485px;
    } 
}

@media (max-width: 480px) {
    .Keyboard{
        width: 320px;
        height: 500px;
    }
    .KeyboardIMG{
        height: 27%;
    }
    
    button{
        width: 120px;
    }

    .Mouse{
        width: 320px;
        height: 730px;
    }
    .MouseIMG{
        width: 70%;
        height: 62%;
    }

    .Headset{
        width: 320px;
        height: 720px;
    }
    .HeadsetIMG{
        width: 95%;
        height: 44%;
    }
}
