:root{
    --galben: rgb(241, 200, 111);
    --negru: #1f1e1e;
    --gri: #272727;

    --bgcolor: rgb(20, 20, 20);
}

body{
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}



/*Scrollbar-ul din dreapta paginii*/
::-webkit-scrollbar{
    background-color: var(--negru);
    width: 14px;
}
::-webkit-scrollbar-thumb{
    border: 3px solid var(--negru);
    border-radius: 50px;
    background-color: var(--galben);
}





.Content{
    height: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Formular{
    background-color: var(--gri);
    border: 5px solid var(--galben);
    border-radius: 30px;
    color: var(--galben);
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: 18px;
}

input{
    background-color: var(--gri);
    border: 3px solid var(--galben);
    color: var(--galben);
    padding: 7px;
    font-size: 17px;
    text-align: center;
}
input:focus{
    border: 3px solid var(--galben);
    outline: none;
}
input:focus::placeholder{
    color: transparent;
}
input::placeholder{
    color: var(--galben);
}

.SubmitButton{
    cursor: pointer;
    background-color: var(--galben);
    border: none;
    border-radius: 3px;

    margin-top: 25px;
    padding: 10px;
    width: 100px;

    font-size: 17px;
    font-weight: bold;

    box-shadow: 3px 4px 2px black;
}

.SubmitButton:active{
    transform: translate(3px, 4px);
    box-shadow: none;
}

.Remember{
    display: flex;
    align-items: center;
    gap: 5px;
}



.warning{
    text-align: center;

    background-color: var(--negru);
    border: 2px solid red;
    box-shadow:  0px 0px 10px 3px red, inset 0px 0px 10px 3px red;
    color: red;

    font-size: 18px;
    font-weight: bold;

    border-radius: 10px;
    padding: 15px 45px 15px 45px;
    
    position: fixed;
    top: -75px;

    animation: swipe 1.2s;
}

@keyframes swipe {
    10% {top: 80px; }
    80% {top: 80px; }
    100% {top: -75px; }
}



.success{
    text-align: center;

    background-color: var(--negru);
    border: 2px solid rgb(18, 192, 2);
    box-shadow:  0px 0px 10px 3px rgb(18, 192, 2), inset 0px 0px 10px 3px rgb(18, 192, 2);
    color: rgb(18, 192, 2);

    font-size: 18px;
    font-weight: bold;

    border-radius: 10px;
    padding: 15px 45px 15px 45px;
    
    position: fixed;
    top: -75px;

    animation: swipe 2s;
}

@keyframes swipe {
    10% {top: 80px; }
    80% {top: 80px; }
    100% {top: -75px; }
}



@media (max-width: 420px) {
    .Formular{
        padding: 30px;
    }
}

@media (max-width: 1040px) {
    .Content{
        margin-top: 80px;
    }
}