<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Error 404 - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/Logos/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/404.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class="Content">
            <span class="ErrorMessage">Error 404. Page not found.</span>
            <img src="../../static/images/404/404Light.gif" alt = "Loading GIF" class = "LoadingGIF">
            <span class="RedirectMessage">You will be redirected to Home page in 5 seconds.</span>
        </main>
    </body>

    <script src="../../static/js/404.js"></script>
</html>