<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Error 404 - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/404Page.css"/>
    </head>
    
    <body>
        <main class="Content">
            <span class="ErrorMessage">Error 404. Page not found.</span>
            <span class="RedirectMessage">You will be redirected to Home page in 5 seconds.</span>
        </main>
    </body>

    <script src="../../static/js/404Page.js"></script>
</html>