<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Your Account - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/Logos/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Account.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <div class = "Content">
            <h1>.</h1>
            <button class = "Button" id = "orderHistory">Order history</button>
            <button class = "Button" id = "editAccount">Edit Account</button>
            <button class = "Button" id = "disconnect">Disconnect</button>
            <button class = "Button" id = "deleteAccount">Delete Account</button>
        </div>

        <script src="../../static/js/Account.js"></script>
    </body>
</html>