<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Home.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class="Container">
        
            <img src="../../static/images/Home/Gallery1.png" alt="SetupGallery" id="img1" class="GalleryIMG">
            <img src="../../static/images/Home/Gallery2.png" alt="SetupGallery" id="img2" class="GalleryIMG">
            <img src="../../static/images/Home/Gallery3.jpeg" alt="SetupGallery" id="img3" class="GalleryIMG">
            <img src="../../static/images/Home/Gallery4.jpg" alt="SetupGallery" id="img4" class="GalleryIMG">

            <a class = "StartShopping" href = "../products"><img src="../../static/images/Home/StartShop.png" alt="Start Shopping"></a>
            
            <div class="MottoDiv">
                <img src="../../static/images/Home/Motto.png" alt="Motto" class="MottoIMG">
            </div>

            <div class="WhatWeSell">
                <h2>What can you find on our website?</h2>
                <ul>
                    <li>Keyboards</li>
                    <li>Mice</li>
                    <li>Headsets</li>
                </ul>
            </div>
            
        </main>

        <script src="../../static/js/Home.js"></script>
    </body>
</html>