<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Login - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Login.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class="Content">
            <form class = "Formular">
                <label for="mail">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email here.">
            
                <label for="pass">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password here.">

                <button class="SubmitButton">Login</button>
            </form>

            <div class="Reset">
                <span>Forgot your password? Send reset code to:</span>
                <ol>
                    <li><span>Email</span></li>
                    <li>Phone number</li>
                </ol>
            </div>
        </main>
        <br>
        
        <script src="../../static/js/Login.js"></script>
    </body>
</html>