<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Products - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Products.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class = "MainContainer">
            <h1>Keyboards</h1>
            <div class="SubContainer", id="Keyboards"></div>


            <h1>Mice</h1>
            <div class="SubContainer", id="Mice"></div>


            <h1>Headsets</h1>
            <div class="SubContainer", id="Headsets"></div>
        </main>
        
        <br>
        <script src = "../../static/js/Products.js"></script>
    </body>
</html>