<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Products - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/Logos/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Products.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class = "MainContainer">
            <div class="categoriesMessage">
                What are you looking for?
            </div>
            <div class = "showingCategories">
                <div>
                    <input type="checkbox" name="showKeyboards" value="showKeyboards" checked>
                    <label for="showKeyboards">Keyboards</label>
                </div>
                <div>
                    <input type="checkbox" name="showMice" value="showMice" checked>
                    <label for="showMice">Mice</label>
                </div>
                <div>
                    <input type="checkbox" name="showHeadsets" value="showHeadsets" checked>
                    <label for="showHeadsets">Headsets</label>
                </div>
            </div>

            <div class = "KeyboardsContainer">
                <h1>Keyboards</h1>
                <div class="SubContainer", id="Keyboards"></div>
            </div>

            <div class = "MiceContainer">
                <h1>Mice</h1>
                <div class="SubContainer", id="Mice"></div>
            </div>

            <div class = "HeadsetsContainer">
                <h1>Headsets</h1>
                <div class="SubContainer", id="Headsets"></div>
            </div>
        </main>
        
        <br>

        <script src = "../../static/js/Products.js"></script>
    </body>
</html>