<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Register - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Register.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class="Content">
            <form class = "Formular">
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" placeholder="Enter your first name here.">
                
                <label for="last_name">Last name</label>
                <input type="text" id="last_name" name="last_name" placeholder="Enter your last name here.">

                <label for="mail">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email here.">
                
                <label for="pass">Password</label>
                <input title = "The password must contain at least 7 characters, including 1 uppercase letter, 1 lowercase letter, and 1 digit." type="password" id="password" name="password" placeholder="Enter your password here.">

                <label for="pass2">Confirm your password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password.">

                <div class="TipPersoana">
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div>

                <button class="SubmitButton">Register</button>
            </form>
            <br>
        </main>
        <br>

        <script src="../../static/js/Register.js"></script>
    </body>
</html>