<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Wishlist - Buy4PC</title>
        <link rel="shortcut icon" href="/static/images/TabLogo.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/partials/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/Wishlist.css"/>
    </head>
    
    <body>
        <%- include('../partials/navbar');%>

        <main class="Content">
            <p class="Message">Your wishlist is empty.</p>
        </main>
    </body>
</html>